/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: visible;
  margin-bottom: 6rem;
}

@media screen and (min-width: 768px) {
  .heroBanner {
    margin-bottom: 22rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
