/*
Hide color mode toggle in small viewports
 */
.navbarItemsCustom {
  column-gap: 0.75rem;
}

@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

.marginLeftAuto {
  margin-left: auto;
}
.marginRightAuto {
  margin-right: auto;
}
.divider {
  border-left: 2px solid #eaeaea;
  height: 1.75rem;
  margin: 0 1rem;
}
