@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Inter", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-lato {
  font-family: "Lato", sans-serif;
}

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6a45ff;
  --ifm-color-primary-dark: #5025ff;
  --ifm-color-primary-darker: #3604ff;
  --ifm-color-primary-darkest: #2d00e3;
  --ifm-color-primary-light: #7755ff;
  --ifm-color-primary-lighter: #8465ff;
  --ifm-color-primary-lightest: #9176ff;
}

[data-theme="dark"] {
  --ifm-color-primary: #85e1cb;
  --ifm-color-primary-dark: #68dabf;
  --ifm-color-primary-darker: #5ad6b9;
  --ifm-color-primary-darkest: #51d4b5;
  --ifm-color-primary-light: #a2e8d7;
  --ifm-color-primary-lighter: #b0ecdd;
  --ifm-color-primary-lightest: #dbf6f0;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 25px 0;
  font-size: 3rem;
}

h2 {
  font-weight: 500;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-weight: 500;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}

figure {
  text-align: center;
}

figure figcaption {
  text-align: center;
  color: gray;
  font-size: 0.8rem;
}

/* Spacings */
.margin-bottom--2xl {
  margin-bottom: 12rem;
}

.padding-bottom--2xl {
  padding-bottom: 12rem;
}

/* Colors  */
.bg-color-infima {
  background-color: var(--ifm-hero-background-color);
}

/* Position */
.position-relative {
  position: relative !important;
}
.position-static {
  position: static !important;
}

/* navbar */
.navbar__title {
  font-weight: 600;
  font-size: 1rem;
}

.navbar__logo {
  height: 40px;
  margin-right: 10px;
}

.navbar__item {
  font-size: 1rem;
}

.navbar {
  height: 100px;
}

/*index.js */
.hero__subtitle {
  font-size: 1.4rem;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.hero__title {
  font-size: 2rem;
}

header {
  margin: 0;
  padding: 0;
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

[data-theme="dark"] .button--secondary {
  background-color: #4c4c4c;
  border: #4c4c4c;
  color: #ffffff;
}
[data-theme="dark"] .button--secondary.button--outline {
  background-color: transparent;
  border: 1px solid #4c4c4c;
}

@media (max-width: 768px) {
  .card-demo {
    flex-direction: column;
  }

  .navbar {
    height: 80px;
  }

  .navbar__logo {
    height: 35px;
    margin-right: 0px;
  }
}

/* Landing page (index.js)*/

.header-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12rem;
  height: 90vh;
}

.header-title {
  font-size: 3.5rem;
}

.header-subtitle {
  font-size: 1.5rem;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
}

.unit-hero-logo {
  margin-bottom: 30px;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button-container-style {
  display: flex;
  flex-direction: column;
}

.button-style-radius {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 14px 24px;
  font-size: 1.125rem;
  border-radius: 10px;
}

.button-style {
  margin: 5px 0;
  width: 350px;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 0 50px;
  max-width: 1200px;
}

.homepage-content {
  background-color: var(--ifm-hero-background-color);
}

.docs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}

.docs-card-link {
  color: black;
  text-decoration: none;
}
.docs-card-link:hover {
  color: black;
  text-decoration: none;
}

.docs-card {
  border-radius: 16px;
  background-color: #f5f5f5;
  width: 100%;
  height: 256px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
[data-theme="dark"] .docs-card {
  background-color: #4c4c4c;
  color: #ffffff;
}

.docs-card:hover {
  border: 2px solid gray;
}

/* footer */
.footer {
  padding: 80px 0;
}

.footer__title {
  font-weight: 500;
}

.footer__item {
  font-size: 0.8rem;
}

/*responsiveness */
@media (max-width: 768px) {
  .header {
    padding: none;
  }

  .header-style {
    height: 85vh;
  }

  .unit-hero-logo {
    width: 120px;
    margin-bottom: 10px;
  }

  .hero-subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
    width: 100%;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .navbar__title {
    display: none;
  }

  .docs-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    padding: 0 25px;
  }

  h1 {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .button-style {
    width: 100%;
  }
  .docs-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* footer */
.footer__title {
  font-weight: 500;
}

.footer__item {
  font-size: 0.8rem;
}

/**documentation landing page **/

.documentation-header-style {
  margin: 60px 0;
  font-size: 3rem;
}

.documentation-header-style p {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
}

.header-title {
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  @media (max-width: 768px) {
    .header-title {
      font-size: 1.9rem;
    }

    .documentation-header-style p {
      margin-bottom: 50px;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

/* GridComponent */

.grid-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 12px;
}
.grid-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
}

@media (max-width: 1180px) {
  .grid-component {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* FlexComponent */

.flex-component {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 480px) {
  .grid-component {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* LinkComponent */
.link-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  color: black;
  transition: all 0.3s ease;
}
.link-component:hover {
  border: 1px solid #007373;
  color: #007373;
  text-decoration: none;
}

/* Docs */
.docs-grid-alt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.docs-card-alt {
  border-radius: 2px;
  border: 1px solid #eaeaea;
  padding: 16px;
  background-color: transparent;
}

.docs-card-alt-header {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
}

.docs-card-alt-description {
  text-align: left;
  font-size: 1rem;
  margin-top: 2px;
}

@media (max-width: 1180px) {
  .docs-grid-alt {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .docs-grid-alt {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Ecosystem Page */

.ecosystem-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}
.ecosystem-header {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 768px) {
  .ecosystem-header {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}
.ecosystem-subheader {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 768px) {
  .ecosystem-subheader {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.ecosystem-subtitle {
  margin: 25px auto 60px auto;
  text-align: center;
}

@media (min-width: 768px) {
  .ecosystem-subtitle {
    width: 50%;
  }
}
.ecosystem-grid-cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  width: 100%;
  margin-bottom: 8rem;
}

@media (min-width: 768px) {
  .ecosystem-grid-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.ecosystem-card {
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
[data-theme="dark"] .ecosystem-card {
  background-color: #4c4c4c;
  color: #ffffff;
}
@media (min-width: 768px) {
  .ecosystem-card {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.ecosystem-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .ecosystem-card-content {
    padding-right: 0;
    align-items: start;
    text-align: start;
  }
}
.ecosystem-card-icon {
  width: 2rem;
  height: 2rem;
}
.ecosystem-card-title {
  font-weight: 500;
  font-size: 1.5rem;
}
.ecosystem-card-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.ecosystem-card-image {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  height: 240px;
}

/* Colors */

.bg-unit-purple-40 {
  background-color: #4b1fff;
}
.bg-unit-purple-30 {
  background-color: #6a45ff;
}
.bg-unit-purple-20 {
  background-color: #9d85ff;
}
.bg-unit-blue-40 {
  background-color: #2fadeb;
}
.bg-unit-blue-30 {
  background-color: #52b9eb;
}
.bg-unit-blue-20 {
  background-color: #8dcceb;
}
.bg-unit-green-40 {
  background-color: #29ccb4;
}
.bg-unit-green-30 {
  background-color: #85e1cb;
}
.bg-unit-green-20 {
  background-color: #bde1dd;
}
.bg-unit-black {
  background-color: #212121;
}
.bg-unit-white {
  background-color: #ffffff;
}

/* Utility */
.flex-center {
  display: flex;
  align-items: center;
}
.flex-center-responsive {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .flex-center-responsive {
    flex-direction: row;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.grid-center {
  display: grid;
  align-items: center;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.items-center {
  align-items: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-8 {
  gap: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-4 {
  margin-bottom: 1rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.font-italic {
  font-style: italic;
}

.w-full {
  width: 100%;
}

.text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.w-24 {
  width: 12rem;
}
.h-auto {
  height: auto;
}

.size-24 {
  width: 12rem;
  height: 12rem;
}
.size-32 {
  width: 16rem;
  height: 16rem;
}
.size-48 {
  width: 24rem;
  height: 24rem;
}
.size-64 {
  width: 32rem;
  height: 32rem;
}

/* Media Page */

.color-box {
  width: 6rem;
  height: 4rem;
  border-radius: 1rem;
  border: 1px solid #ddd;
}

@media (min-width: 640px) {
  .color-box {
    width: 12rem;
    height: 8rem;
  }
}

.font-body-component {
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
}

.font-body-component p {
  margin-bottom: 0px;
}
